@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Fitness Tracker!</h1>
    <p>Theme: Fitness Tracker</p>
    <p>Name: Parul Saini</p>
    <p>Current Date and Time: @DateTime.Now</p>
</div>



